body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #545454;
    min-width: 800px;
}
body {
    width: 80%;
}

/* banner image at top of page */

.banner-image{
    position: relative;
    justify-content: center;
    transform: translate(20px);
    padding-left: 20px;
    height: 180px;
    max-width: 1000px;
    overflow: visible;
    background: url(images/banner.png) repeat center;
    background-size: contain;
    background-color: #737373;
    
}
main{
    background-color:#545454;
    padding: 0px 20px;
    margin-top: -20px;
}

/* links bar at top of page */

header nav {
    position: absolute;
    bottom: -35px; 
    left: 8%;

}
head {
    background-color: #535353;
    margin-bottom: -20px;


}

/* displays links side by side */

header nav a:link  {
    width: 70px;
    display: inline-block;
    margin: 5% 2px;
    padding: 10px 5px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    letter-spacing: 1.5px;
    border-radius: 20px 20px 0px 0;
    color: rgb(112, 63, 30);
    background-color: #ff0000;
}



header nav a:visited{
    
    background-color: #737373;

}

header nav a:hover{
    background-color: #F0EFEC;
}
header nav a:active{
    background-color: #ffd043;
}

/* used for the top panel with rounded corners */
body main .light-panel  {
    background-color: #a6a6a6;
    color: rgb(112, 63, 30); 
    border-radius: 20px 20px 0px 0;

}


.light-panel h2, .light-panel2 h2{
    padding: 10px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(112, 63, 30);
    text-shadow: 2px 2px #B7B859;
}

.dark-panel h2 {
    padding: 10px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(112, 63, 30);
    text-shadow: 2px 2px #a6a6a6;
}

.light-panel p, .light-panel2 p, .dark-panel p {
    padding: 0px 15px 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}
/* dark panel w/o rounded bottom */

body main .dark-panel{
    background-color: #737373;
    margin-top: -16px;
    color:rgb(209, 166, 85);
}

/* dark panel with rounded bottom */
body .dark-panel2{
    background-color: #737373;
    margin-top: -12px;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    
display: flex;
justify-content: center;
    
}
body .dark-panel2 img{
width: 50px;

}
ul {
    list-style: none;
}

footer {}
